.uni-card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    row-gap: 40px;
}

.uni-img-container img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.uni-content-container {
    font-size: 32px;
}