.first-container {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 2px 2px 12px #e5d9db;
  border-radius: 15px;
}
span.dreams-color {
  color: #0281fe;
}
span.heart-color {
  color: #e15354;
}

.right {
  padding-left: 950px;

  padding-left: 930px;
  padding-top: 70px;
  padding-bottom: 52px;
}

p.first-con {
  margin-right: 142px;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  position: absolute;
  width: 486px;
  height: 235px;
  left: 100px;
  top: 90px;
  display: flex;
  align-items: center;
}
.search-box {
  width: 1100px;
  height: 40px;
  background: #ffffff;
  box-shadow: 2px 2px 12px #e5d9db;
  border-radius: 15px;
  margin-top: 27px;
  margin-left: 100px;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;

  display: inline-block;

  display: flex;
  align-items: center;
}

.fst-con-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding-top: 90px;
  padding-right: 160px;
}
button.know.button {
  background-color: #0281fe;
  font-family: "Poppins";
  font-size: 13px;
  color: white;
  margin-right: 365px;
  box-shadow: 2px 2px 12px #e5d9db;
  border-radius: 4px;
  width: 107px;
  height: 40px;
  border: white;
}

span.but-text {
  display: flex;
  margin: 10px;
  margin-left: 18px;
}

.readmore {
  display: flex;
  gap: 11px;
  text-decoration: none;
  color: #5375e287;
  margin-left: 22px;
  font-size: 15px;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
}
.search-img {
  background: #0081fe;
  border-radius: 0px 15px 15px 0px;
  width: 65px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
}
img.search-but {
  background: #0281fe;
}
button.but-click {
  background: #0281fe;
  border: #0081fe;
}
input.search-box {
  width: 900;
  height: 55px;
  border-radius: 10px 0px 0px 10px;
  margin-top: 27px;
  border: #ffffff;
}
.second-contant {
  background-color: #f4faff;
  margin-top: 25px;
}
h1.topic {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-left: 5px;
  margin: 1%;
  padding-bottom: 10px;
}
.sub-contain {
  color: #898989;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 31px;
}
h2.topic1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #4c4c4d;
  padding-top: 20px;
  padding-left: 23px;
}
.sub-con {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 70px;
  padding-right: 60px;
  padding-bottom: 80px;
}
.next-but {
  position: absolute;
  margin-top: 128px;
  margin-left: 90%;
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 12px #e5d9db;
}
img.click-but {
  display: flex;
  margin: 20px;
}
.sub-top {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.sub-top-1 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 2px 2px 12px #e5d9db;
  border-radius: 15px;
  width: 300px;
  height: 318px;
  left: 640px;
  top: 0px;
}
.third-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fef8f6;
  padding-top: 80px;
  padding-left: 45px;
  padding-right: 90px;
  padding-bottom: 100px;
}
.third-full-con {
  display: flex;
  margin-left: 50px;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;
}

.img {
  display: contents;
}

.third-sub-con {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: #4c4c4d;
  box-shadow: 2px 2px 12px #e5d9db;
  border-radius: 15px;
}
.third-top {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-left: 50px;
  font-size: 10px;
  margin-top: 70px;
  margin-bottom: 15px;
}
.third-sub-top {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}
.details {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: rgba(70, 70, 70, 0.64);
  padding-left: 2px;
  padding-right: 135px;
  background-color: white;
}
.third-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  opacity: 0.7;
  padding-top: 25px;
  background-color: white;
  padding-bottom: 40px;
  padding-left: 2px;
}
p.details {
  padding-bottom: 40px;
  padding-left: 2px;
}
.Read-More a {
  display: flex;
  gap: 11px;
  text-decoration: none;
  color: #5375e287;
  margin-left: 22px;
  font-size: 15px;
  align-items: center;
}




/* responsive for table above 768 */

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .first-container {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 15px;
    width: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 486px;
    height: 235px;
    left: 85px;
    top: 75px;
    display: flex;
    align-items: center;
  }
  .fst-con-head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    padding-top: 75px;
    padding-right: 270px;
  }
  p.first-con {
    margin-right: 225px;
    color: black;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
  }
  button.know.button {
    background-color: #0281fe;
    font-family: "Poppins";
    font-size: 7px;
    color: white;
    margin-right: 385px;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 4px;
    width: 70px;
    height: 20px;
    border: white;
    display: flex;
    align-items: center;
  }
  img.top-ryt-img {
    width: 330px;
    height: 250px;
  }
  .right {
    padding-left: 950px;
    padding-left: 360px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .search {
    display: flex;
    justify-content: center;
    width: 710px;
  }
  input.search-box {
    width: 900;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 27px;
    border: #ffffff;
  }
  .search-img {
    background: #0081fe;
    border-radius: 0px 15px 15px 0px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
  }
  .sub-con {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 65px;
    padding-right: 60px;
    padding-bottom: 65px;
  }
  h1.topic {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    padding-left: 5px;
    margin: 1%;
    padding-bottom: 10px;
  }
  h2.topic1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #4c4c4d;
    padding-top: 10px;
    padding-left: 14px;
  }
  .sub-contain {
    color: #898989;
    padding-bottom: 11px;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 31px;
    font-size: 6px;
  }

  a {
    display: flex;
    gap: 9px;
    text-decoration: none;
    color: #5375e287;
    margin-left: 18px;
    font-size: 6px;
    align-items: center;
  }
  img.book-logo {
    width: 7%;
  }
  .sub-top {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .sub-top-1 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 7px;
    width: 134px;
    height: 125px;
  }
  .next-but {
    position: absolute;
    margin-top: 46px;
    margin-left: 80%;
    background: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 12px #e5d9db;
  }
  img.click-but {
    display: flex;
    margin: 10px;
  }
  .third-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fef8f6;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 55px;
  }
  .third-top {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-left: 43px;
    font-size: 8px;
    margin-top: 16px;
    margin-bottom: 15px;
  }
  .third-full-con {
    display: flex;
    margin-left: 40px;
    gap: 20px;
  }
  .third-sub-con {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #4c4c4d;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 15px;
    width: 190px;
  }
  .third-head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    opacity: 0.7;
    padding-top: 7px;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 2px;
  }
  .details {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(70, 70, 70, 0.64);
    padding-left: 2px;
    padding-right: 8px;
    background-color: white;
  }
} 

/* responsive for moblie 360 */
@media only screen and (min-width: 360px) and (max-width:700px) {
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 486px;
    height: 218px;
    left: 15px;
    top: 90px;
    display: flex;
    align-items: center;
  }
  .fst-con-head {
    font-family: "Poppins";
    font-style: norma-l;
    font-weight: 600;
    font-size: 6px;
    padding-top: 10px;
    padding-right: 335px;
  }
  p.first-con {
    margin-right: 345px;
    color: black;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
  }
  button.know.button {
    background-color: #0281fe;
    font-family: "Poppins";
    font-size: 6px;
    color: white;
    margin-right: 411px;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 4px;
    width: 66px;
    height: 24px;
    border: white;
  }
  span.but-text {
    display: flex;
    margin: 8px;
    margin-left: 15px;
  }
  .right {
    padding-left: 950px;
    padding-left: 200px;
    padding-top: 6px;
    padding-bottom: 52px;
  }
  img.top-ryt-img {
    width: 155px;
  }
  .right {
    padding-left: 950px;
    padding-left: 175px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  input.search-box {
    width: 900;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 16px;
    border: #ffffff;
  }
  .search {
    display: flex;
    justify-content: space-evenly;
    margin-left: -85px;
  }
  .search-img {
    background: #0081fe;
    border-radius: 0px 15px 15px 0px;
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  input.search-box {
    width: 900px;
    height: 25px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 16px;
    border: #ffffff;
  }
  .sub-con {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }
  h2.topic1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #4c4c4d;
    padding-top: 7px;
    padding-left: 10px;
  }
  .sub-contain {
    color: #898989;
    padding-bottom: 6px;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 0px;
    font-size: 5px;
  }
  .Read-More a {
    display: flex;
    gap: 7px;
    text-decoration: none;
    color: #5375e287;
    margin-left: 6px;
    font-size: 5px;
    align-items: center;
  }
  .sub-top {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .sub-con {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }
  .sub-top-1 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 15px;

    height: 110px;
  }
  img.book-logo {
    display: flex;
    width: 7px;
  }
  .sub-top {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: -64px;
    width: 346px;
    height: 80px;
  }
  h1.topic {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin: 1%;
    margin-left: -50px;
    padding-bottom: 10px;
  }
  .next-but {
    position: absolute;
    margin-top: 40px;
    margin-left: 95%;
    background: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 12px #e5d9db;
  }
  img.click-but {
    display: flex;
    margin: 6px;
  }
  .third-top {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-left: 0px;
    font-size: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  img.eve-img {
    width: 100px;
  }
  .third-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fef8f6;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 90px;
    padding-bottom: 50px;
  }
  .third-sub-con {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #4c4c4d;
    box-shadow: 2px 2px 12px #e5d9db;
    border-radius: 15px;
    width: 100px;
  }
  .third-full-con {
    display: flex;
    gap: 10px;
    margin-left: -10px;
  }
  .third-head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #000000;
    opacity: 0.7;
    padding-top: 7px;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 2px;
  }
  p.details {
    padding-bottom: 40px;
    padding-left: 2px;
    height: 40px;
    font-size: 5px;
    padding-right: 98%;
  }
  .details {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(70, 70, 70, 0.64);
    padding-left: 2px;
    padding-right: 135px;
    background-color: white;
  }
  .details p {
    width: 80px;
  } }
