.footer {
  height: 40em;
  position: relative;
  padding: 1em 4.5em;
}

/* .Linepic {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  width: 100%;
} */

.blue-line {
  width: 100%;
  background: rgb(9, 126, 228);
  padding: 0.2em 0;
  border-radius: 0.8em;
}

.Logo {
  position: absolute;
  top: 10em;
}

.Social p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0a142f;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.Location-footer {
  display: flex;
  position: absolute;
  top: 183px;
  left: 723px;
  gap: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Caller-container {
  display: flex;
  position: absolute;
  top: 229px;
  left: 726px;
  gap: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.printer-container {
  display: flex;
  position: absolute;
  top: 229px;
  left: 1004px;
  gap: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Social {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 303px;
  left: 720px;
}

.Social-logos {
  display: flex;
  gap: 35px;
}

.Login-btn-footer {
  width: 67px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #0081fe;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.15px;
  line-height: 24px;
  position: absolute;
  top: 387px;
  right: 127px;
}

.Line2 {
  height: 1px;
  background: #7bb9fc;
  mix-blend-mode: normal;
  opacity: 0.2;
  width: 1249px;
  position: absolute;
  top: 432px;
  left: 100px;
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.15px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.Footer-link {
  display: flex;
  gap: 50px;
  margin-right: 370px;
}

.Footer-link a {
  text-decoration: none;
  color: black;
}

.Copyright-container {
  display: flex;
  color: #0a142f;

  mix-blend-mode: normal;
  opacity: 0.5;
}









@media screen and (min-width: 768px ) and (max-width:1024px){


  .Logo {
    position: absolute;
    top: 75px;
    left: 20px;
    padding-left: 30px;
    width: 135px;
}


}

