.footer {
  height: 540px;
  position: relative;
}

.line {
  position: absolute;
  height: 2px;
  width: 90%;
  margin-left: 5%;
  justify-content: center;
  display: flex;
  top: 70px;
  background-color: #0081fe;
}

.logo {
  position: absolute;
  top: 170px;
  left: 100px;
}

.location-footer {
  display: flex;
  position: absolute;
  gap: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  left: 725px;
  top: 180px;
}

.contact-container {
  position: absolute;
  display: flex;
  top: 230px;
  left: 725px;
  gap: 145px;
}

.caller-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.printer-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-container {
  position: absolute;
  display: flex;
  top: 305px;
  left: 725px;
  gap: 35px;
}

.para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0a142f;
}

.line2 {
  height: 2px;
  background: #7bb9fc;
  opacity: 0.2;
  width: 90%;
  position: absolute;
  top: 390px;
  left: 5%;
}

.footer-link {
  position: absolute;
  top: 450px;
  left: 100px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: black;
  display: flex;
  gap: 60px;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.Copyright-container {
  font-size: 16px;
  position: absolute;
  color: #0a142f;
  opacity: 0.5;
  top: 450px;
  left: 1080px;
}

/* tab */
@media all and (max-width: 768px) {
  .footer {
    height: 420px;
  }
  .line {
    top: 50px;
  }
  .logo {
    top: 140px;
    left: 50px;
  }

  .location-footer {
    font-size: 12px;
    left: 400px;
    top: 130px;
  }

  .contact-container {
    font-size: 12px;
    top: 170px;
    left: 400px;
    gap: 95px;
  }

  .caller-container {
    gap: 10px;
  }

  .printer-container {
    gap: 10px;
  }

  .social-container {
    top: 210px;
    left: 400px;
    gap: 10px;
  }

  .para {
    font-weight: 400;
    font-size: 12px;
  }

  .line2 {
    top: 320px;
  }

  .footer-link {
    top: 355px;
    left: 50px;
    font-weight: 500;
    font-size: 12px;
    gap: 10px;
  }

  .footer-link a {
    text-decoration: none;
    color: black;
  }

  .Copyright-container {
    font-size: 12px;
    top: 355px;
    left: 550px;
  }
}

/* mobile */
@media all and (min-width: 180px) and (max-width: 360px) {
  .footer {
    height: 620px;
    position: relative;
  }

  .line {
    top: 65px;
  }

  .logo {
    position: absolute;
    top: 95px;
    left: 150px;
    width: 60px;
    height: 18px;
  }

  .location-footer {
    visibility: hidden;
  }

  .contact-container {
    visibility: hidden;
  }
}
