.Loginlogo {
  background: #5375e2;
  box-shadow: 0px 0px 4px rgba(176, 16, 48, 0.3);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Loginlogo img {
  padding: 19px;
}

.Signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 510px;
  gap: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.Signup-main {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.image {
  background-image: url(../Login/Images/Background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 711px;
}

.fistname-input {
  width: 201px;
  height: 55px;
  background: #ffffff;
  opacity: 0.99;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3636px;
  line-height: 25px;
  padding-left: 19px;
  color: #000000;
  /* identical to box height */

  /* grey */

  /* color: #B0ACAC; */
}

.LastName-input {
  width: 201px;
  height: 55px;
  background: #ffffff;
  opacity: 0.99;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3636px;
  line-height: 25px;
  padding-left: 19px;
  color: #000000;
  /* identical to box height */

  /* grey */

  /* color: #B0ACAC; */
}

.Name-input-container {
  display: flex;
  gap: 16px;
}

.password-input {
  color: #000000;
  width: 420px;
  height: 55px;
  background: #ffffff;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3636px;
  line-height: 25px;
  padding-left: 19px;
  /* identical to box height */

  /* grey */

  /* color: #B0ACAC; */
}

.Email-input {
  color: #000000;
  width: 420px;
  height: 55px;
  background: #ffffff;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3636px;
  line-height: 25px;
  padding-left: 19px;
  /* identical to box height */

  /* grey */

  /* color: #B0ACAC;   */
}

.Signup-btn {
  cursor: pointer;
  background: hsl(226, 71%, 61%);
  width: 420px;
  height: 55px;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.Signup-footer {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  /* footer txt */
  color: #000000;
}

.Signup-footer p {
  padding-right: 5px;
}

.Signup-footer a {
  cursor: pointer;
  text-decoration: none;
  padding-left: 2px;
  color: #0081fe;
}

@media all and (min-width :481px) and (max-width : 768px) {

  .image {
    width: 768px;
    height: 380px !important;
    left: 0px;
    top: 0px;

  }

  .Signup-container {
    height: 272px;
    width: 235px;
    left: 267px;
    top: 54px;
    border-radius: 8px;
    gap: 18px;
    margin-bottom: 220px;
  }
  .Signup-main {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 235px;
    height: 222.8px;
    left: 266.67px;
    top: 78.2px;
    border-radius: 8px;
  }
  .LastName-input {
    width: 105px;
    height: 29px;
    background: #ffffff;
    opacity: 0.99;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16.3636px;
    line-height: 25px;
    padding-left: 19px;
    color: #000000;
    /* color: #B0ACAC; */
}
 
  .fistname-input {
    width: 105px;
    height: 29px;
    background: #ffffff;
    opacity: 0.99;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16.3636px;
    line-height: 25px;
    padding-left: 19px;
    color: #000000;
    /* color: #B0ACAC; */
}
.Signup-btn {
  cursor: pointer;
  background: hsl(226, 71%, 61%);
  width: 224px;
  height: 30px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: white;
  font-size: 12px;
} 
.redirect{
  font-size: 9px;
}

}