* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Navbar {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.AcademyLogo {
    margin-left: 99px;
}

.Login-btn {
    width: 131.58px;
    height: 33.45px;
    border: 1px solid #E25353;
    border-radius: 22.3022px;
    color: #C00000;
    background: #FFFFFF;
    margin-right: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}