* {
  margin: 0px;
  padding: 0px;
}
.main-container{
  width: 100%;
}
.header-container{
  height: 1000px;
  margin-right: 200px;
  display: flex;
  border-radius: 10px;
}
.title {
  position: absolute;
  width: 85px;
  height: 50px;
  left: 100px;
  top: 113px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #696F79;
}

.content-container {
  position: absolute;
  width: 919.62px;
  height: 90px;
  left: 100px;
  top: 178.81px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  
  /* text */
  
  color: rgba(70, 70, 70, 0.64);
}

.detailimage {
  position: absolute;
  width: 919px;
  height: 383px;
  left: 100px;
  top: 309px;
  border-radius: 10px;
}

.subcontent-container {
  position: absolute;
width: 919px;
height: 180px;
left: 100px;
top: 730.95px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
color: rgba(70, 70, 70, 0.64);
}

.see-more {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-left: 40%;
  margin-top: 25%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #45AFC7;
}
.course-container {
  position: absolute;
  left:45%;
  right: 35%;
  top: 10%;
  bottom: 17%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 20%;
  flex-direction: column;
  color: rgba(70, 70, 70, 0.64);
}

.course-title{
  top:10px;
  padding: 20px;
}

.course-container a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size:20px;
  line-height: 27px;
  display: flex;
  margin-right: 20px;
  column-gap: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: rgba(70, 70, 70, 0.64);
}

.course-seemore-btn {
  width: 287px;
  height: 44px;
  border-radius: 15px;
  background: #09829d;
  color: white;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom:20px;
  text-align: center;
  justify-content: center;
}


.course-container a:hover {
  background: #0081fee5;
  color: white;
  height: 40px;
  width: 285px;
}
.course-seemore-btn:hover {
  background: rgba(18, 103, 186, 0.9);
  cursor: pointer;
  color: white;
}
