.footer {
  height: 540px;
  position: relative;
}

.line {
  position: absolute;
  height: 2px;
  width: 90%;
  margin-left: 5%;
  justify-content: center;
  display: flex;
  top: 70px;
  background-color: #0081fe;
}

.Logo2 {
  position: absolute;
  top: 25%;
  left: 10%;
}

/* .Social p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.1488px;
  line-height: 24px;
  color: #0a142f;
  mix-blend-mode: normal;
  opacity: 0.5;
} */

.Location-footer2 {
  display: flex;
  position: absolute;
  gap: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  left: 55%;
  top: 25%;
}

.contact-container img {
  width: 25px;
  margin-right: 5%;
}

.contact-container p {
  width: 150px;
}

.contact-container {
  position: absolute;
  display: flex;
  top: 40%;
  left: 55%;
}

.Social-logos2 {
  display: flex;
  gap: 35px;
  position: absolute;
  top: 60%;
  left: 55%;
}

.Social-logos2 p {
  width: 85px;
}

.line2 {
  height: 2px;
  background: #7bb9fc;
  opacity: 0.2;
  width: 90%;
  position: absolute;
  top: 70%;
  left: 5%;
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 75;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.15px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.Footer-link {
  display: flex;
  gap: 50px;
  margin-right: 370px;
}

.Footer-link a {
  text-decoration: none;
  color: black;
}

.Copyright-container {
  display: flex;
  color: #0a142f;

  mix-blend-mode: normal;
  opacity: 0.5;
}
